.App {
  text-align: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  width: 70vw;
  min-width: 180px;
  max-width: 320px;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgb(18, 19, 19);
  transform: translateX(0%);
  transition: transform 600ms ease-in-out;
}

a {
  text-decoration: none;
  color: white;
}

#routes {
  width: 90%;
  height: 10vh;
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 26px;
  border-radius: 2px;
  transition: all 200ms ease-in;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.08);
  color: black;
}

#routes:hover {
  transform: scale(1.1);
}

#second-nav {
  height: 90vh;
}

#close {
  width: 42px;
  height: 42px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  border: 2px solid rgb(240, 240, 240);
  background-color: transparent;
  color: rgb(255, 255, 255);
  transition: all 300ms ease-in-out;
  position: relative;
  outline: none;
  left: 5px;
  box-shadow: 0px 0px 9px 7px rgba(0, 0, 0, 0.09);
  display: none;
}

#close:hover {
  background-color: rgb(173, 177, 179);
  transform: scale(1.1);
  transform: rotate(180deg);
}

#open-nav {
  position: absolute;
  z-index: 10;
  left: 10px;
  top: 10px;
  width: 42px;
  height: 42px;
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 0);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  transition: all 300ms ease-in-out;
  background-color: rgb(255, 255, 255);
}

#open-nav:hover {
  background-color: rgb(154, 155, 156);
  transform: scale(1.1);
}

#movie-container {
  width: 70vw;
  max-width: 650px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  transition: all 300ms;
  margin-top: 20px;
}

#poster {
  width: 99%;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  margin-bottom: -1%;
  border: 2px solid rgb(112, 112, 112);
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80vw;
  margin: 18vw;
  margin-top: 0px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1780px) {
  nav {
    transform: translateX(-110%);
  }
  #close {
    display: block;
  }
  #container {
    margin: auto;
  }
}

@media only screen and (min-width: 1780px) {
  nav {
    transform: translateX(0%);
  }
  #movie-backdrop {
    width: 70vw;
  }
  .single-container {
    margin-left: 28vw;
  }
}

#title {
  margin: 0;
  padding: 0;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin: auto;
}

#overview {
  position: absolute;
}

#movie-container:hover {
  transform: scale(1.1);
  background-color: rgb(255, 255, 255);
  z-index: 99;
}

.footer {
  position: absolute;
  color: white;
  bottom: 10px;
  border-top: white 2px solid;
  width: 100%;
}

#link-container {
  color: black;
}

#movie-backdrop {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 700px;
  border-radius: 2px;
  max-width: 1400px;
}

#single-title {
  width: 100%;
}

.single-container {
  background-color: rgb(231, 230, 230);
  max-width: 1400px;
  margin: auto;
  margin-top: 60px;
  position: relative;
}

@media only screen and (min-width: 1780px) {
  .single-container {
    margin-left: 25vw;
    margin-top: -20px;
  }
}

#single-overview {
  width: 60%;
  margin: auto;
  text-align: center;
  font-weight: 700;
  font-size: calc(10px + 0.5vw);
  margin-bottom: 20px;
  margin-top: 20px;
}

#profile {
  width: 30vw;
  height: 220px;
  max-width: 210px;
  border-radius: 2px;
  box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  transition: all 400ms;
  min-width: 200px;
}

#profile:hover {
  transform: scale(1.2);
}

#photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#photo-div {
  width: 30vw;
  max-width: 210px;
  overflow: hidden;
  height: 220px;
  transition: all 200ms;
  margin-bottom: 20px;
  min-width: 200px;
}

#photo-title {
  width: 100%;
  text-align: center;
}

#person-name {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  margin: auto;
}

#main-photo {
  max-width: 210px;
  width: 30vw;
  min-width: 200px;
}

hr {
  border: 1px solid black;
}

#vote span {
  background-color: rgb(58, 57, 57);
  color: white;
  border-radius: 4px;
  padding: 2px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.08);
}

#search-container {
  width: 80vw;
  margin: auto;
}

#search-container label {
  font-size: 23px;
  font-weight: 600;
}

#search-container input {
  width: 50vw;
  height: 30px;
  border-radius: 20px;
  outline: none;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid black;
  max-width: 400px;
  margin: auto;
}

#goBack {
  width: 55px;
  height: 30px;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid black;
  background-color: transparent;
  position: absolute;
  left: 5px;
  top: 10px;
}

@media only screen and (max-width:700px) {
  .single-container{
    position: unset;
  }
    #goBack{
      position: absolute;
      left: unset;
      right: 10px;
      top: 20px;
    }
}

#loading{
  font-size: 30px;
  font-weight: 700;
}

#error{
  font-size: 26px;
  font-weight: 700;
}

#page-error{
  color: rgb(180, 25, 25);
  font-size: 40px;
  font-weight: 700
}

#back-home{
  color: rgb(255, 255, 255);
  font-size: 24px;
  background-color: rgb(151, 35, 35);
  display: block;
  width: 40%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 30px;
  min-width: 260px;
  max-width: 350px;
}

#error-container{
  width: 50vw;
  margin: auto;
  text-align: center;
}
